body {
    background-color: var(--info-bg-color, rgb(0 113 197 / 100%));
    margin: 0;
    padding: 0;
    overflow: hidden;
}


#player-container, #idle-container {
    height: var(--player-height, 1080px);
    width: var(--player-width, 1920px);
    position: absolute;
    top: 0;
    left: 0;
}

#player-container {
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#idle-container {
    z-index: 2;
    align-items: center;
    background-color: var(--info-bg-color, #0071c5);
    color: white;
    cursor: pointer;
    display: flex;
    font-family: var(--info-font-family, 'Open Sans', sans-serif);
    justify-content: center;
    text-align: center;
}

#interaction-nudge {
    animation: pulse 2s infinite;
    font-weight: bold;
    margin-top: 20px;
    text-transform: uppercase;
}

@keyframes pulse {
    0% {
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

.idle-content h1 {
    font-size: 4em;
    margin-bottom: 0;
}

.idle-content p {
    font-size: 1.5em;
    opacity: 0.8;
}

.info-top {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--info-bg-color, #0071c5);
}

.iframe-container {
    flex: 1;
    position: relative;
    background-color: black;
}

#clip-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.info-bottom {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--info-bg-color, #0071c5);
}

.line1, .line2, .line3 {
    font-family: var(--info-font-family, 'Open Sans', sans-serif);
    color: var(--info-text-color, #ffb809);
    padding: 5px 10px;
}

.line1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 1.2;
}

.line2 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
}

.line3 {
    font-size: 1em;
    font-style: italic;
    font-weight: 100;
    line-height: 1;
}